*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
tmp/
refs/
auto/
chapters/auto
oldorg/*.pdf
oldorg/*.tex
!images/**/*.pdf
_region_.*
.pdf-view-restore
.~lock*#
feedback/
.auctex-auto
